.updateUser[data-v-1b582486]{height:100%;overflow:auto;padding-bottom:53px;width:600px}.avatar-uploader-icon[data-v-1b582486]{font-size:28px;color:#8c939d;width:108px;height:108px;margin:8px;line-height:108px;border-radius:4px;text-align:center;background-color:#fafafa;border:1px dashed #d9d9d9}.avatar[data-v-1b582486]{width:108px;height:108px;margin:8px;border-radius:4px;display:block}
