.system-user-container .system-user-search[data-v-7fbe3094]{text-align:left}.system-user-container .system-user-search .system-user-search-btn[data-v-7fbe3094]{text-align:center;margin-left:70px}.system-user-container .system-user-photo[data-v-7fbe3094]{width:40px;height:40px;border-radius:100%}
