.qrcode-container .qrcode-img-warp[data-v-112741c7]{text-align:center}.qrcode-container .qrcode-img-warp .qrcode-img[data-v-112741c7]{display:flex;width:100%;height:125px}.qrcode-container .qrcode-img-warp .qrcode-img .qrcode[data-v-112741c7]{margin:auto;width:125px;height:125px}
